$primary: #040622;
$red: #F56E6E;
$blue: #3B76E1;
$green: #63AD6F;
$background: #F1F3F7;
$black: #3D3F55;
$title: #5A5990;
$text: #AAA3BD;

// :root {
//   --var-primary: #{$primary};
//   --var-red: #{$red};
//   --var-blue: #{$blue};
//   --var-green: #{$green};
//   --var-background: #{$background};
//   --var-black:#{$black};
//   --var-title: #{$title};
//   --var-text: #{$text};

// }
